@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html, body, #root {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #153677;
    background: linear-gradient(135deg, #153677, #4e085f) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    color: #fafafa;
}
